$grey: #ebecf0;
$grey2: #dedede;
$grey3: #bebebe;
$purple: #640088;
$lightPurple: #961988;
$lightPurpleTransp: #9619877c;
$yellow: #ffe600;
$yellowTransp: #ffe60069;
$orange: #ff8d00;
$orangeTransp: #ff8c0076;