//Colors
$darkgrey: #333533;
$black: #151514;
$yellow: #F5CB5C;
$lightyellow: #FFEE32;
$grey: #D6D6D6;

// Transition card
$transition: 0.2s;

//Colors Button New Account
$bg: #f3f8fa;
$white: #fff;

// shadow box
$shadow: 10px 10px 20px #080808,
-10px -10px 20px #222220;